
header
.mainlist
{
	font-size: 13px;
    padding: 0px 30px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px; 
    cursor: pointer;
}
.mainlist:visited 
{
  color: #609; 
}
.item1:hover 
{
  color: #5F5F5F;
  text-decoration: underline;
}
.item2:hover 
{
  color: #5F5F5F;
  text-decoration: underline;
}
.item1
{
    padding: 20px;
}
.icon
{
	height: 20px;
    padding: 20px;
}
.account
{
    height: 30px;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}
#container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}
#google
{
	height: 130px;
}
input
{
   width: 590px;
   height: 33px;
   margin: 4px;
   padding: 5px;
   border: 1.5px solid #f2f2f2;
   border-radius: 25px;
   font-size: 20px;
}
.btn1
{
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    margin-top: 40px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
.btn2
{
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
.btn1:hover, .btn2:hover 
{
	color: #373737;
	background: #D3D3D3;
	border: 5px solid lightgrey;
}
input:hover
{
    box-shadow: 0.5px 0.5px 2px 2px #e5e5e5;
}
footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer1
{  
    border: 1px solid #e4e4e4;
    height: 40px;
    border-bottom: 1px solid #D2D2D2;
    font-size: 15px;
    color: #6F6F6F;
    background-color: #F2F2F2;
    display: flex;

}
.footer1 p
{
    margin-left: 30px; 
    font-size: 15px;
    color: #6F6F6F;
}
.footer2
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    background-color: #F2F2F2;
    height: 40px;
    font-size: 14px;
    color: #6F6F6F;
}
.secondlist ul
{  
    justify-content: flex-start;
    padding: 0;
    margin: 12px 0 0 30px;
}
.thirdlist ul
{
    justify-content: flex-end; 
    padding: 0;
    margin: 12px 30px 0 0;
}
.secondlist li 
{
    padding: 0 10px 0 0;
    cursor: pointer;
}

.thirdlist li 
{
    padding: 0 0 0 10px;
    cursor: pointer;
}
li
{
    display: inline;
}
.secondlist li:hover 
{
  text-decoration: underline;
}
.thirdlist li:hover
{
  text-decoration: underline;
}





   






























