body 
{
	margin: 0;
	padding: 0;
    font-family: arial,sans-serif;
}
#nav
{
	height: 22vh;
	width: 100%;
}
#mainlist
{
	list-style: none;
	margin-left: 1070px;
}
li
{
	float: left;
	padding: 8px;
	display: inline;
}
.icon
{
	height: 24px;
	width: 24px;
}
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#google
{
	height: 130px;
}
input
{
   width: 590px;
   height: 33px;
   margin: 4px;
   padding: 5px;
   border: 1.5px solid #f2f2f2;
   border-radius: 25px;
   font-size: 20px;
}
.btn1
{
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    margin-top: 40px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
.btn2
{
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}
.btn1:hover, .btn2:hover 
{
	color: #373737;
	background: #D3D3D3;
	border: 5px solid lightgrey;
}
input:hover
{
    box-shadow: 0.5px 0.5px 2px 2px #e5e5e5;
}
#footer
{
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 30px;
    background-color: #F2F2F2;
    line-height: 40px;
    width: 100%;
    color: #222;
}
p
{
     
}






































