<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6justify-content-center">

    <%= form_for [@event, @attendance], html: { class: "form-signin mt-3" } do |f| %>
      <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Inscription à l'évènement"
      data-amount= "<%= Event.find(params[:event_id]).price * 100 %>"
      data-locale="auto"></script>
    <% end %>

    </div>
  </div>
</div>
