<div class="container text-center">
<br>
<br>
<br>
<h1><a href="https://www.linkedin.com/in/eva-afriana-36796b100/">My Profile</a></h1>
<br>
<br>
<img class="avatar rounded-2 avatar-user" src="https://avatars0.githubusercontent.com/u/61560851?s=400&amp;u=9330d1bbafd8b75f8a86bd4d479c8f51eb00ee86&amp;v=4" width="200" height="200" alt="@evafriana">
<br>
<br>
<br>
</div>
