<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>The Gossip Project</title>
  </head>
  <body>
    <div class="container py-3 text-center">
      <h1>Bienvenue sur mon super site de gossip !</h1>
      <br>
      <h2>Voici la liste des potins :</h2>
      <br>
      <% gossips.each_with_index do |gossip, index| %>
          <a href="gossips/<%=index + 1%>/">
            <%= index + 1 %>.
            <%= gossip.author %>:
            <%= gossip.content %>
          </a>
          <br>
          <br>
        <% end %>
      <br>
      <a href="/gossips/new/" class="btn btn-primary">👉 Tu peux aussi en créer un nouveau</a>
    </div>
  </body>
</html>
